<table id="Core_LoginLog"></table>
<div id="Core_LoginLog_Search" style="padding:5px;height:auto">
	<form id="Core_LoginLog_Search_Form">
		用户：<input name="search[name]" class="easyui-textbox" style="width:100px">
		时 间: <input name="search[date_begin]" class="easyui-datebox" style="width:100px">
		至: <input name="search[date_end]" class="easyui-datebox" style="width:100px">
		<a href="javascript:;" onclick="Core_LoginLog.search()" class="easyui-linkbutton" iconCls="icons-table-table">搜索</a>
		<a href="javascript:;" onclick="Core_LoginLog.delete()" class="easyui-linkbutton" iconCls="icons-table-table_delete">删除上月数据</a>
	</form>
</div>
<script type="text/javascript">
window.Core_LoginLog = {
	//工具栏
	toolbar: "#Core_LoginLog_Search",
	//搜索
	search: function(){
		$("#Core_LoginLog").datagrid('loadData', { total: 0, rows: [] });
		var queryParams = $("#Core_LoginLog").datagrid('options').queryParams;
		$.each($("#Core_LoginLog_Search_Form").serializeArray(), function() {
			queryParams[$(this).attr('name')] = $(this).attr('value');
		});
		$("#Core_LoginLog").datagrid({pageNumber: 1});
	},

	//删除上月数据
	delete: function(){
		$.Oa.confirm('$.Oa.delData("lastMonth","<{:U("Log/delLoginLog")}>")')
	}
}
</script>
<script>
/**
 * 版块容器实例化数据
 */
$("#Core_LoginLog").datagrid({
	title: "系统中心 > 日志设置 > 登录日志管理",
	singleSelect:true,
	nowrap:true,
	border: false,
	fitColumns: true,
	fit: true,
	toolbar: Core_LoginLog.toolbar,
	idField: 'id',
	rownumbers: true,
	animate: true,
	url: "<{:U('Log/LoginLog')}>",
	columns:[[
		{field:'name',title:'登录用户',width:30},
		{field:'date',title:'登录时间',width:60},
		{field:'user_agent',title:'浏览器标识',width:250},
		{field:'ip',title:'IP',width:50},
		{field:'area',title:'登录网络',width:70},
		{field:'country',title:'登录地点',width:50}
	]],
	pagination:true,
	pagePosition:'bottom',
	pageNumber:1,
	pageSize:20,
	pageList:[20,30,50]
});
</script>